@import url(fonts.css);

html,
body {
  background: #f2f2f2;
  font-family: 'Century Gothic', GillSans, Calibri, Trebuchet, sans-serif;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
}

* { outline: 0; }

.cursor-pointer {
  cursor: pointer;
}

.align-text-center {
  text-align: center;
}

div.card-content {
  padding: 10px 10px 17px !important;
}
div.card-action {
  bottom: 12px !important;
}
